/* Acceuil.css */

.fade-in {
    animation: fadeIn ease-in-out 1.5s;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .visible {
    opacity: 1;
  }

  .container-card{
    display: flex;
    align-items: center;
    margin-top: 60px;
  }


  .card1-washing{
    background: #F3F3F3;
    width: 45%;
    height: 250px;
    border-radius: 5%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  }