.container-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    border-top-right-radius: 5vw;
    border-top-left-radius: 5vw;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    color: #000;
    z-index: 10;
    border-radius: 50px;
background: #e5e5e5;
box-shadow:  20px 20px 60px #c3c3c3,
             -20px -20px 60px #ffffff;
}


.logo{
    font-size: 30px;
    cursor: default;
}

.material-symbols-outlined{
    cursor: pointer;
            
}

.material-symbols-outlined:hover{
    color: #73c0ff72;
}
